html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #d6e1f0;
  max-width: 500px;
  margin: auto;
}

p {
  text-align: center;
}

h2 {
  font-weight: bolder;
}

img {
  padding: 15px;
  border-radius: 2.5rem;
  width: 100%;
  max-width: 500px;
  margin:auto;
  align-items: center;
}

.image {
  background-color: white;
  margin: auto;
}

main {
  background-color: white;
  margin: auto;
  border-radius: 1.25rem;
  margin: 0 20px 0 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 5rem;
  max-width: 500px;
  margin-right: 50px;
}
.attribution {
  background-color: #d6e1f0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  margin: 0 20px 0 30px;
  text-align: center;
}

.qr-code {
  margin-top: 1em;
}
